@model ICollection<LaMafiaRS.Models.Events>
@{
    ViewData["Title"] = "Eventos";
}

@if (Model != null)
{
    @foreach (var item in Model)
    {
     @if (User.IsInRole("ADMIN"))
    {
        <a onclick="return confirm('¿Estás seguro de que deseas eliminar este tweet?');" asp-action="Eliminar" asp-route-id="@item.Id"> Eliminar </a>
    }
     <div class="container m-3 d-flex justify-content-center">
        <div class="card text-center" style="width: 18rem;">
          <div class="card-header">
            <h5 class="card-title" style="">@item.Titulo</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Organizado por: <span style="">@item.Autor</span></p>
        <p class="card-text">Ubicación: <span style="">@item.Ubicacion</span></p>
            <p class="card-text">Fecha y Hora: <span style="">@item.FechaYHora</span></p>
            <p class="card-text">Finalización: <span style="color: red;">@item.Finalizacion</span></p>
          </div>
        </div>
    </div>
    }

}
else
{
    <p>No hay eventos disponibles.</p>
}


