@*@model List<User>*@
@model ICollection<LaMafiaRS.Models.Tweet>
@{
    ViewData["Title"] = "Home Page";
}
@foreach (var item in Model.OrderByDescending(t => t.CreationDate))
{
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">

                <div class="col-2 mb-2">
                    <img src="@item.User.ProfilePictureUrl" class="circular-image">
                </div>

                <div class="col-4">
                    <h5 class="card-title">
                        @item.Username 
                    </h5>
                </div>
                <div class="col-3">
                    <label class="badge text-dark">@item.User.Tipo</label>
                    @if (User.IsInRole("ADMIN"))
                    {
                        <a class="edit-tweet-link" data-tweet-id="@item.Id">Editar</a>
                        <a onclick="return confirm('¿Estás seguro de que deseas eliminar este tweet?');" asp-action="Eliminar" asp-route-id="@item.Id"> Eliminar </a>
                    }
                </div>
            </div>
            @*<h6 class="card-subtitle mb-2 text-muted">@@@item.User.Email</h6>*@
            <p class="card-text">@item.Text</p>
            <div id="editModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Editar tweet</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <!-- Aquí se cargará la vista parcial -->
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-footer">
            <small class="text-muted">@item.CreationDate</small>
        </div>
    </div>
}
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        <script>
        $(".sidebar ul li").on('click', function(){
            $(".sidebar ul li.active").removeClass('active');
            $(this).addClass('active');
        });
        $('.open-btn').on('click', function () {
            $('.sidebar').addClass('active');
        });

        $('.close-btn').on('click', function () {
            $('.sidebar').removeClass('active');
        });

        $(document).ready(function () {
            $(".edit-tweet-link").click(function () {
                // Obtener el ID del tweet a editar
                var tweetId = $(this).data("tweet-id");

                // Cargar la vista parcial en el modal
                $.get("/Home/EditarTweet/" + tweetId, function (data) {
                    $("#editModal .modal-body").html(data);
                    $("#editModal").modal("show");
                });
            });
        });
    </script>
}

