@model LaMafiaRS.Models.Tweet
@{
    ViewData["Title"] = "Create";
}


<!--Create.cshtml-->
    @*<div class="d-flex justify-content-center">
        
            <form asp-action="Create">
                <div class="form-group">
                    <label asp-for="UserId"></label>
                    <input asp-for="UserId" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Text"></label>
                    <textarea asp-for="Text" class="form-control" rows="3" placeholder="Que es lo que piensas?">  </textarea>
                </div>
                <div class="form-group">
                    <label asp-for="CreationDate"></label>
                    <p asp-for="CreationDate" class="form-control">@DateTime.Now</p>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        
    </div>*@

@if (User.Identity.IsAuthenticated)
{
    <div class="row no-gutters">
        <div class="main-container d-flex">
            @*Inicio del sidebar*@
            <div class="sidebar" id="side_nav">
                <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
                    <h1 class="fs-4"><span class="bg-white text-dark rounded shadow px-2 me-2">MF</span><span class="text-white">La Mafia</span></h1>
                    <button class="btn d-md-none d-block close-btn px-1 py-0 text-white"><i class="bi bi-chevron-double-up"></i></button>
                </div>

                <ul class="list-unstyled px-2">
                    <li><h3>Hola @Context.User.Identity.Name!</h3></li>
                    <li class="active"><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="bi bi-house text-white"></i> Inicio</a></li>
                    <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="bi bi-person text-white"></i> Perfil</a></li>
                    <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="bi bi-bell text-white"></i> Notificaciones</a></li>
                    <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="bi bi-calendar-event"></i> Eventos</a></li>
                    <li class="">
                        <a href="#" class="text-decoration-none d-flex justify-content-between px-3 py-2">
                            <span><i class="bi bi-chat"></i> Mensajes</span>
                            <span class="bg-dark rounded-pill text-white py-0 px-2">02</span>
                        </a>
                    </li>
                </ul>
                <hr class="h-color mx-2">

                <ul class="list-unstyled px-2">
                    <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="bi bi-gear text-white"></i> Configuración</a></li>
                    <li class=""><a class="text-decoration-none px-3 py-2 d-block" asp-controller="Manage" asp-action="LogOut"> Cerrar sesión</a></li>
                </ul>
            </div>

            @*Fin del sidebar*@

            <div class="content">
                @*Inicio del header y modeales*@
                <nav class="navbar navbar-expand-md navbar-light bg-light">
                    <div class="container-fluid">
                        <div class="d-flex justify-content-between d-md-none d-block">
                            <a class="navbar-brand fs-4" href="#">La Mafia</a>
                            <button class="btn px-1 py-0 open-btn"><i class="bi bi-chevron-double-up"></i></button>
                        </div>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="container d-flex row">
                            <div class="col-4">
                                <div class="collapse navbar-collapse justify-content-start col" id="navbarSupportedContent">
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            @*<a class="btn btn-dark" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Crear nuevo post</a>*@
                                            <a class="btn btn-dark" asp-controller="Home" asp-action="Index">Volver</a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="col-8">
                                <div class="collapse navbar-collapse justify-content-end col" id="navbarSupportedContent">
                                    <ul class="navbar-nav  mb-2 mb-lg-0">
                                        <form class="d-flex">
                                            <input class="form-control me-2" type="search" placeholder="Busca un usuario..." aria-label="Search">
                                            <button class="btn btn-outline-dark" type="submit">Buscar</button>
                                        </form>
                                        <li class="nav-item">
                                            <partial name="_MenuLogIn" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

                @*Fin del header y modales*@
                @*<div style="width:300px; border-radius:25px;">*@
                <div class="d-flex justify-content-center mt-8 ">
                    @*<form asp-action="Create" asp-controller="Tweet">

                <div asp-validation-summary="ModelOnly" class="text-danger">

                </div>
                <div class="row">
                <div class="col-2">
                <label asp-for="UserId"></label>
                <input asp-for="UserId" id="UserId" name="UserId" class="form-control" />
                </div>
                <div class="col-5">
                <label asp-for="CreationDate"></label>
                <p asp-for="CreationDate" class="form-control" id="CreationDate" name="CreationDate">@DateTime.Now</p>
                <span asp-validation-for="CreationDate" class="text-danger"></span>
                </div>
                </div>
                <div class="form-group">
                <label asp-for="Text"></label>
                <textarea asp-for="Text" class="form-control mt-3 mb-3" rows="3" placeholder="¿Qué estás pensando?" id="Text" name="Text"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
                </div>
                <div class="form-group">
                <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Añadir imagen</label>
                </div>
                </div>
                <button type="submit" class="btn btn-primary m-3">Publicar</button>
                </form>*@

                    <div class="container col-md-5">

                        <form asp-controller="Tweet" asp-action="Create">

                            <div>
                                <label asp-for="User" class="control-label"></label>
                                @*<input asp-for="User" class="form-control" value="@Context.User.Identity.Name" readonly>*@
                                <input asp-for="User" class="form-control" value="@Context.User.Identity.Name">
                                <span asp-validation-for="UserId" class="text-danger"></span>
                            </div>

                            <div>
                                <label asp-for="UserId" class="control-label"></label>
                                <input asp-for="UserId" class="form-control" value="">
                                <span asp-validation-for="UserId" class="text-danger"></span>
                            </div>

                            <div>
                                <label asp-for="CreationDate"></label>
                                <input asp-for="CreationDate" class="form-control" id="CreationDate" name="CreationDate" value="@DateTime.Now">
                                <span asp-validation-for="CreationDate" class="text-danger"></span>
                            </div>
                            <div>
                                <label asp-for="Text" class="control-label"></label>
                                @*<input asp-for="Text" class="form-control">*@
                                <textarea asp-for="Text" class="form-control mt-3 mb-3" rows="3" placeholder="¿Qué estás pensando?" id="Text" name="Text"></textarea>
                                <span asp-validation-for="Text" class="text-danger"></span>
                            </div>

                            <div>
                                <label asp-for="Imagen1" class="control-label"></label>
                                <input asp-for="Imagen1" class="form-control">
                                <span asp-validation-for="Imagen1" class="text-danger"></span>

                            </div>
                            <br>
                            <div style="text-align:center;">
                                <button type="submit" class="btn btn-primary">Registrar</button>
                            </div>

                        </form>

                    </div>
                </div>
                @*</div>*@
            </div>

        </div>
    </div>
}
else
{
    <div>
        <h1>Primero debes logearte o registrarte!</h1>
        <a asp-controller="Manage" asp-action="LogIn">Login</a>
        <a asp-controller="Home" asp-action="Registro">Registrarse</a>
    </div>
}
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(".sidebar ul li").on('click', function () {
            $(".sidebar ul li.active").removeClass('active');
            $(this).addClass('active');
        });
        $('.open-btn').on('click', function () {
            $('.sidebar').addClass('active');
        });

        $('.close-btn').on('click', function () {
            $('.sidebar').removeClass('active');
        })
    </script>
}


